.flex-column
    display flex
    flex-direction column 

.flex-center
    display flex 
    justify-content center
    align-items center

.opacity-text
    color opacityTextCol
    font-size 14px // default

.hidden
    display none

.main-blocks
    width 83%

.buy-btn
    background-color #f46d40
    color white
    border-radius 5px
    &:hover
        background-color darken(#f46d40, 10%)     
