@font-face
   font-family 'd-din-pro'
   font-style normal
   font-weight normal
   src url(../../../fonts/otf/D-DIN-PRO-Regular.otf)

@font-face
   font-family 'd-din-pro'
   font-style normal
   font-weight 500
   src url(../../../fonts/otf/D-DIN-PRO-Medium.otf)

@font-face
   font-family 'd-din-pro'
   font-style normal
   font-weight 600
   src url(../../../fonts/otf/D-DIN-PRO-SemiBold.otf)

@font-face
   font-family 'd-din-pro'
   font-style normal
   font-weight 700
   src url(../../../fonts/otf/D-DIN-PRO-Bold.otf)

@font-face
   font-family 'd-din-pro'
   font-style normal
   font-weight 800
   src url(../../../fonts/otf/D-DIN-PRO-ExtraBold.otf)

@font-face
   font-family 'd-din-pro'
   font-style normal
   font-weight 900
   src url(../../../fonts/otf/D-DIN-PRO-Heavy.otf)





