.main
    .carousel
        position relative
        width 100%
        .filter-btns
            display flex
            margin 0 auto
            .btn
                color opacityTextCol
                font-size 24px
                line-height 30px
                border-bottom 1px solid opacityTextCol
                margin 0 15px
            .non-margin
                margin 0
                margin-right 15px
            .active
                border-bottom none
                color black
        .cards
            display flex
            width 100%
            justify-content space-between
            align-items center
            margin 30px auto
            .cards-container
                display flex
                justify-content: space-evenly
                .card
                    background-color white
                    padding 1px 19px 10px 17px
                    .name-set
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 30px;
                        margin 30px 0
                    .opacity-text
                        font-size 18px
                        margin-bottom 30px
                    .footer-card
                        .price
                            word-wrap no-wrap
                            margin-right 12px
                            font-weight: bold
                        .buy-btn
                            flex-grow: 1
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 30px;
                        
            .arrow-btn
                width 60px
                height 60px
                background-color #111111
                border-radius 50%
            .back-btn
                margin-right 10px
            .forward-btn
                margin-left 10px