.header
    display flex
    justify-content space-between
    width 100%
    height 94.5px
    .left-side
        display flex
        .contacts
            align-items center
            justify-content center
            border-right 0.5px solid #A4ACAD
            padding 6px 30px
            .text
                font-weight 500
                color #111111
                font-weight: 500;
                font-size 18px
                line-height 22px
            .phone
                color orangeCol
                font-weight 500
                font-size 18px
            .opacity-text
                display flex
                align-items center
                .clock-icon
                    display block
                    width 15px
                    height 15px
                    background-image url(../../images/icons/clock.svg)
                    margin 0 5px
        .location
            justify-content center
            padding 0 13px
            .location-btn
                font-size 18px
                line-height 22px
                padding 4px 0
