.header
    display flex
    justify-content space-between
    width 100%
    height 94.5px
    background-color grayBg
    border-bottom 0.5px solid opacityTextCol
    .left-side
        display flex
        .contacts
            align-items center
            justify-content center
            border-right 0.5px solid opacityTextCol
            padding 6px 30px
            .text
                font-weight 500
                color #111111
                font-weight: 500;
                font-size 18px
                line-height 22px
            .phone
                color orangeCol
                font-weight 500
                font-size 18px
            .opacity-text
                display flex
                align-items center
                .clock-icon
                    display block
                    width 15px
                    height 15px
                    background-image url(../../images/icons/clock.svg)
                    margin 0 5px
        .location
            justify-content center
            padding 0 13px
            .location-btn
                font-size 18px
                line-height 22px
                padding 4px 0
    .right-side
        display flex
        align-items center
        .text
            font-size 18px
            line-height 22px
            margin 0 5px
            color #111111
            &:hover
                color orangeCol
        .search
            display flex
            align-items center
            padding 0 40px
            .search-input
                width 300px
                height 50px
                background #FFFFFF
                border-radius 5px
                border 1px solid orangeCol
                padding 0 15px
                margin 0 18px
                font-size 20px
                &::placeholder
                    font-size 18px
                    line-height 22px
                    color black
            .search-btn
                width 30px
                height 30px
                margin-right 20px
                background-image url(../../images/icons/search.svg)
                float right

