.nav-sidebar
    align-items center
    .logo
        max-width 137px
        cursor pointer
    .nav
        border-top 0.5px solid #A4ACAD
        margin-top 31px
        padding-top 15px
        .menu
            .menu-item
                display flex
                position relative
                width 100%
                cursor pointer
                align-items center
                padding 15.5px 0
                .item-icon
                    min-width 30px
                    margin 0 20px
                .item-name
                    font-weight normal
                    font-size 24px
                    line-height 30px
                    &:hover
                        color orangeCol
                .seen-mark
                    position absolute
                    top 7%
                    right -20px
                    padding 1px 8px
                    background #EB5757
                    border-radius 10px
                    font-size 11px
                    line-height 14px 
                    text-transform uppercase
                    color white
            
