// @media only screen and (max-width: 1920px) 
//     body
//         grid-template-columns 239px 1fr 201px

// @media only screen and (max-width: 1366px) 
//     body
//         grid-template-columns 127px 1fr 107px
/* 
1920 - 320 = 16.6% navbar
1920 - 269 = 14% basket

1440 - 100% 
x - 16.6% 
x = 239px navbar
x = 201px basket

768 - 100%
x = 127px navbar
x = 107px basket
 */